.html,body{
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0px;
}

*{
	margin-bottom: 0px;
}

.cont{
	height: 100%;
	width:100%;
	padding-top: 5%;
	font-family: 'Open Sans', sans-serif;
	color: white;

	font-size: 150px;
}