html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

.logo{
/*	background-color: rgba(255,163,222,0.3);*/	
	height: 300px;
	width: 300px;
	margin-left: 40%;
	text-align: center;
	position: center;
	margin-top: 20%;
}
